# Pandas

Provides a way to analyse data structures in python.
There are two types of data structures that the package analyses:
1. Series: 1D arrays
2. DataFrame: 2D, tabular structure with rows and columns.

In [ ]:
import pandas as pd

## Series Example

In [ ]:
biomes_data = ['Desert', 'Jungle', 'Mesa']
biomes_series = pd.Series(biomes_data)

print(biomes_series)

#### Returning second item in biomes_series:

In [ ]:
biomes_series[1]

#### Returning the first 2 items in biomes_series by slicing:

In [ ]:
biomes_series[0:2]

# DataFrames

### Creating a DataFrame using Dictionaries

In [ ]:
data = {
    'Character': ['Mario', 'Donkey Kong', 'Dry Bones'],
    'Car': ['Standard Kart', 'Flame Rider', 'Mini Beast']
}

mario_df = pd.DataFrame(data)

display(mario_df)

#### Describe

In [ ]:
mario_df.describe()

#### Len

In [ ]:
len(mario_df)

#### Return entire row/column

In [ ]:
mario_df.iloc[0, :]

#### Returning cell (1, 1)

In [ ]:
mario_df.iloc[1, 1]

#### Adding column to end of DataFrame.

In [ ]:
mario_df['Position'] = ['1st', '3rd', '2nd']
mario_df

#### Sorting by the place the characters came in ascending order.

In [ ]:
mario_df_sorted = mario_df.sort_values(by='Position', ascending=True)
display(mario_df_sorted)

#### Return the character who came in 3rd Place.

In [ ]:
third_place = mario_df[mario_df['Position'] == '3rd']['Character']
third_place

#### Character/s whose name starts with a D

In [ ]:
name_starting_with_D = mario_df[mario_df['Character'].str.startswith('D')]
name_starting_with_D

### Importing data from an Excel or CSV file

In [ ]:
excel_file_path = 'Monopoly Strategy.xlsx' #same location as notebook

monopoly_df = pd.read_excel(excel_file_path)

display(monopoly_df)

## Loading Data

#### Importing file from MFiles

In [ ]:
from sea_calcs import MFiles
mf = MFiles()
tally = pd.read_excel(mf.stream_from_link('m-files://show/70242064-9A5B-41DB-89C6-20D3931E7974/0-485243?object=C15B393B-AFB7-4DF2-AB20-EBE2341CF240'), header=7)
display(tally)

#### Dropping Columns

In [ ]:
tally = tally.drop(columns = ["latitude (WGS84)", "longitude (WGS84)"])
display(tally)

#### Dropping Duplicates

In [ ]:
df_dropped_duplicates = tally.drop_duplicates(subset=['Feature type'], keep='first')
display(df_dropped_duplicates)

#### First few/last few rows

In [ ]:
display(tally.head(5)) # First 5 rows

In [ ]:
display(tally.tail(5)) # Last 5 rows

#### Renaming Columns

In [ ]:
tally.rename(columns = {'Max. depth': 'Maximum Depth'}, inplace=True)
tally

# Exercises

## Exercise 1

In [ ]:
numbers = {'Column A': (1, 2, 3),
       'Column B': (4, 5, 6),
        'Column C': (7, 8, 9)}

a) Convert 'numbers' into a DataFrame

b) Return sum of the third row

c) Sort by Column A in descending order.

## Exercise 2

In [ ]:
data = {'Name': ['Harry', 'Louis', 'Liam', 'Niall', 'Zayn'],
        'Age': [29, 32, 30, 30, 31],
        'City': ['Redditch', 'Doncaster', 'Woverhampton', 'Mullingar', 'Bradford'],
        'Net Worth (Million)': [120, 70, 60, 71, 75]}

data_df = pd.DataFrame(data)

a) Find the average age of the invidiuals in the DataFrame

b) Sort the DataFrame based on the 'Net Worth (Million)' column in descending order.

c) Filter individuals from cities starting with 'B'

## Exercise 3

In [ ]:
data = {'Product': ['Contour', 'Blush', 'Lipstick', 'Contour', 'Blush', 'Lipstick', 'Contour', 'Blush', 'Lipstick'],
        'Price': [60, 30, 50, 45, 25, 55, 65, 20, 35],
        'Quantity': [10, 15, 20, 8, 12, 18, 6, 10, 25],
        'Brand': ['KKW Beauty', 'Kylie Cosmetics', 'KKW Beauty', 'Kylie Cosmetics', 'Rare', 'Rare', 
                  'KKW Beauty', 'Rare', 'Kylie Cosmetics']}

product_df = pd.DataFrame(data)

a) Add a total revenue column (Price * Quantity).

b) Create a new column 'Discount Price' with 10% off the original price.

c) Filter the DataFrame to include only products with a quantity greater than 10.

### Solutions

#### Exercise 1

a) numbers_df = pd.DataFrame(numbers)

b) row_3 = numbers_df.iloc[2, :]

    print(sum(row_3))

c) numbers_df_sorted = numbers_df.sort_values(by='Column A', ascending=False)

#### Exercise 2

a) average_age = data_df['Age'].mean()

b) df_sorted = data_df.sort_values(by='Net Worth (Million)', ascending=False)

c) df_b_cities = data_df[data_df['City'].str.startswith('B')]

#### Exercise 3

a) product_df['Total Revenue'] = product_df['Price'] * product_df['Quantity']

b) product_df['Discount Price'] = product_df['Price'] * 0.9

c) df_quantity_greater_than_10 = product_df[product_df['Quantity'] > 10]