In [4]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'State': ['Queensland', 'New South Wales', 'Victoria']
       }

#create a dataframe with the data
df1= pd.DataFrame(data)


#create a dataframe with the index with letters (ie a,b,c)
df2 = pd.DataFrame(data, index = ['a','b','c'])

# display the dataframe
display(df2)

# Select and display the state column
display(df2['State'])

      Name  Age            State
a    Alice   25       Queensland
b      Bob   30  New South Wales
c  Charlie   22         Victoria

a         Queensland
b    New South Wales
c           Victoria
Name: State, dtype: object