In [25]:
import pandas as pd
import numpy as np
import scipy as sp
import sqlalchemy as sa
from sea_calcs import InputProperty as IP
from sea_calcs.general.misc_supporting_funcs import make_json_compatible

In [2]:
df = pd.DataFrame([{'Foo':5,'Bar':6},{'Foo':4,'Bar':7},{'Foo':3,'Bar':8}])
df

   Foo  Bar
0    5    6
1    4    7
2    3    8

In [ ]:
df['FooBar'] = df.Foo+df.Bar
df['BarFoo'] = 5
df

   Foo  Bar  FooBar  BarFoo
0    5    6      11       5
2    3    8      11       5

In [4]:
interp = sp.interpolate.interp1d(df.Foo,df.Bar)

In [5]:
interp([3.5,3.1,np.pi])

array([7.5       , 7.9       , 7.85840735])

In [24]:
from sea_calcs import MFiles
mf = MFiles()

Connecting to vault: SEA Vault
Connection to SEA Vault Successful

In [49]:
df=pd.read_excel(mf.stream_from_object_id(428175),skiprows=range(92),usecols='A:C')

In [ ]:
df.columns=['date','presenter','topic']

In [ ]:
"""

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.
"""

In [64]:
for i in range(0,11):
    i % 3

In [67]:
i % 3

1

In [68]:
i

10