# What is Pandas?

Data Structures:

Pandas offers two primary data structures: Series and DataFrame.
Series: A one-dimensional labeled array capable of holding various data types, including numbers, strings, and more. It is similar to a column in a spreadsheet or a single variable in statistics.
DataFrame: A two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). Think of it as a table or spreadsheet, where each column can contain different data types.

Data Loading and Storage:

Pandas provides methods to load data from various file formats, including CSV, Excel, SQL databases, and more.
It supports data export to these formats as well, making it easy to work with external data sources.

Data Cleaning and Preprocessing:

Pandas offers a wide range of tools to handle missing data, duplicate data, and outliers.
Users can fill missing values, drop duplicates, and apply transformations to prepare data for analysis.

# Series

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [1]:
import pandas as pd

In [ ]:
#s = pd.Series(data, index=index)

In [32]:
# Creating a Series from a list
data = [1, 2, 3, 4]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [33]:
#Can make your own index 

index = ['a','b','c','d']

series_2 = pd.Series(data,index)
print(series_2)

a    1
b    2
c    3
d    4
dtype: int64

In [34]:
#Getting a value from the associated index
series_2['a']

1

In [35]:
#Getting a slice 

series_2.iloc[0]

1

In [36]:
series_2.iloc[2:]

c    3
d    4
dtype: int64

# Dataframe

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:

In [7]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22]}
df1 = pd.DataFrame(data)
display(df1)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [38]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
d2 = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}

df2 = pd.DataFrame(d2)

display(df2)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [11]:
#Can set your own index 
df2 = pd.DataFrame(d2, index=["a", "b", "c", "d"])
display(df2)

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [41]:
#Choose a column 
df2['one']

a    1.0
b    2.0
c    3.0
d    4.0
Name: one, dtype: float64

In [12]:
df2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

# Example

In [14]:
# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'State': ['Queensland', 'New South Wales', 'Victoria']
       }

#create a dataframe with the data

#create a dataframe with the index with letters (ie a,b,c)

# Select and display the state column

In [21]:
df= pd.DataFrame(data)
display(df)
index = ["a","b","c"]
df1=pd.DataFrame(data,index = index)
display(df1)
df1["State"]

      Name  Age            State
0    Alice   25       Queensland
1      Bob   30  New South Wales
2  Charlie   22         Victoria

      Name  Age            State
a    Alice   25       Queensland
b      Bob   30  New South Wales
c  Charlie   22         Victoria

a         Queensland
b    New South Wales
c           Victoria
Name: State, dtype: object

In [ ]:
# unpack columns add